starlight-file-tree, .expressive-code figure pre, .frame, code {
  border-radius: 5px;
}

code{
  text-wrap: nowrap;
}

::selection {
  background-color: var(--sl-color-accent-high);
}

::marker {
  color: var(--sl-color-accent-high);
}

// Markdown icon hack
img[src$='#icon']{
  display: inline-block; 
  margin: -3px;
}
