figure {
  pre {
    background-color: var(--sl-color-gray-6) !important;
    border-radius: 15px;
    border: none !important;
    max-width: 100%;
    overflow-x: auto;
  }
}

code {
  background-color: var(--sl-color-gray-6) !important;
}
